<%= simple_form_for @season, url: program_seasons_path(@program) do |f| %>
  <%= f.error_notification %>

<div class="col-xs-12 col-md-8">
  <div class="panel">
    <div class="panel-heading">
      <% if f.object.new_record? %>
        <h2><%= title "Ajouter une saison" %></h2>
      <% else %>
        <h2><%= title "Modifier une saison" %></h2>
      <% end %>
    </div>

    <div class="panel-body">

      <div class="row form-row">

        <div class="form-group col-xs-12 has-feedback has-feedback-left">
          <%= f.label :name, "Nom de la saison", class: "sr-only" %>
          <%= f.text_field :name, autofocus: true, placeholder: "Nom de la saison", class: "form-control" %>
          <i class="form-control-feedback material-icons">location_city</i>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="col-xs-12 col-md-4">
  <div class="panel">
    <div class="panel-heading">
      <h3>Publier</h3>
    </div>
    <div class="panel-body">
      <ul class="simple-list muted">
        <% if @season.created_at.present? %>
          <li>
            <% if @season.audits.present? %>
              <% user_id = @season.audits.first.user.id %>
              <%= 'Créé il y a ' + time_ago_in_words(@season.created_at) + ' par ' %>
              <%= link_to @season.audits.first.user.name, resident_path(user_id) %>.
            <% else %>
              <%= 'Créé il y a ' + time_ago_in_words(@season.created_at) + '.' %>
            <% end %>
          </li>
        <% end %>
        <% if @season.updated_at != @season.created_at %>
          <li>
            <% if @season.audits.present? %>
            <%-# Évènement créés avec Audited -%>
              <% user_id = @season.audits.last.user.id %>
              <%= 'Modifié il y a ' + time_ago_in_words(@season.updated_at) + ' par ' %>
              <%= link_to @season.audits.last.user.name, resident_path(user_id) %>.
            <% else %>
            <%-# Évènement créés avant Audited -%>
              <%= 'Modifié il y a ' + time_ago_in_words(@season.updated_at) + '.' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="panel-footer">
      <% if f.object.new_record? %>
        <div class="flex-end">
          <%= f.submit "Publier", class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="space-between">
          <%= link_to "Supprimer", season_path(season), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-link btn-link--danger" %>
          <%= f.submit "Sauvegarder", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
