<h2 class="page__title">
  <%= title "Saisons - " + @program.name %>
  <% if can? :manage, Season %>
    <div class="pull-right">
      <%= link_to 'Nouvelle saison', new_program_season_path(@program), class: 'btn btn-info' %>
    </div>
  <% end %>
</h2>

<div class="panel col-xs-12">
  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", program_seasons_path %>
      <% if can? :manage, Project %>
        <%= nav_link "Corbeille", deleted_program_seasons_path(@program) %>
      <% end %>
    </ul>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>
</div>
