<h2 class="page__title">
  <%= title "Espaces" %>
  <% if can? :manage, MeetingRoom %>
  <div class="pull-right">
    <%= link_to 'Ajouter un espace', new_meeting_room_path, class: 'btn btn-info' %>
  </div>
  <% end %>
</h2>

<div class="panel col-xs-12">

  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", meeting_rooms_path %>
      <% if can? :manage, Floor %>
        <%= nav_link "Corbeille", deleted_meeting_rooms_path %>
      <% end %>
    </ul>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>
</div>
