<div class="row">
  <div class="col-xs-12 col-md-4">

    <div class="panel-top">
      <div class="reservation-infos" style="background-color: <%= @meeting_room.colour %>">
        <div class="reservation-infos-content">
          <div class="reservation-infos-name">
            <%= @meeting_room.name %>
          </div>
          <div class="reservation-infos-floor">
            <%= @meeting_room.floor.present? ? @meeting_room.floor.name : "N/A" %> - <%= @meeting_room.capacity %> <%= 'place'.pluralize(@meeting_room.capacity) %>
          </div>
        </div>
        <div class="reservation-infos-bottom"></div>
      </div>
    </div>

    <div class="panel txt-c">
      <div class="panel-heading">
        <div class="thumbnail losange-thumb no-thumb place-thumb mb" style="width:68px;height:68px;"></div>

        <h2><%= @meeting_room.name %></h2>
      </div>

      <div class="panel-body">
        <% if can? :manage, MeetingRoom %>
          <%= link_to edit_meeting_room_path(@meeting_room), class: 'btn btn-default btn-icon' do %>
            <i class="material-icons">settings</i><span>Paramètres</span>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des réservations</h2>
      </div>
      <div class="panel-body"></div>

    </div>
  </div>
</div>
