<div class="panel">
  <div class="panel-heading">
    <h2>Connexion</h2>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, autofocus: true, placeholder: "Adresse mail", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "form-control" %>
      </div>
      <div class="form-inline-links">
        <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <%= link_to t(".forgot_your_password", :default => "Mot de passe oublié ?"), new_password_path(resource_name), class: "pull-left" %>
        <% end %>
        <%= f.submit "Connexion", class: "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>
