<h2 class="page__title">
  <%= title "Programmes" %>
  <% if can? :manage, Program %>
    <div class="pull-right">
      <%= link_to 'Nouveau programme', new_program_path, class: 'btn btn-info' %>
    </div>
  <% end %>
</h2>

<div class="panel col-xs-12">
  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", programs_path %>
      <% if can? :manage, Project %>
        <%= nav_link "Corbeille", deleted_programs_path %>
      <% end %>
    </ul>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>
</div>
