<h2 class="page__title">
  <%= title "Programmes" %>
  <% if can? :manage, Program %>
    <div class="pull-right">
      <%= link_to 'Nouveau programme', new_program_path, class: 'btn btn-info' %>
    </div>
  <% end %>
</h2>

<div class="panel col-xs-12" id="list-items">
  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", programs_path %>
      <% if can? :manage, Project %>
        <%= nav_link "Corbeille", deleted_programs_path %>
      <% end %>
    </ul>

    <ul class="tablist right">
      <%= render "layouts/tablist-search" %>
    </ul>
  </div>

  <div class="panel-body row">

    <ul class="list list-items">
      <% @programs.each do |program| %>

        <li class="col-xs-12 col-md-6">
          <%= render "layouts/list-item", item: program %>
        </li>

      <% end %>
    </ul>

  </div>

</div>
