<% if user_signed_in? %>

<h2 class="page__title">
  <%= "Bienvenue, " + current_user.name %>
</h2>

<div class="row row-flex">
  <div class="col-flex col-organisation col-xs-12 col-md-4">

    <div class="panel">
      <div class="panel-heading">
        <h2>Événements à venir</h2>
      </div>
      <div class="panel-body">

        <div class="events">
          <% if @events.each do |event| %>
            <%= render('events/event-item', event: event, hasDescription: false ) %>
          <% end.empty? %>
            <p class="muted">Il n'y a aucun évènements.</p>
          <% end %>
        </div>

        <%= link_to "Voir plus d'événements ›", events_path  %>

      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2>Les nouvelles têtes</h2>
      </div>
      <div class="panel-body">
        <% if @newbies.each do |employee| %>

        <%= render "layouts/list-item", item: employee, size: "3rem", hasBorder: false, hasDetails: false %>

        <% end.empty? %>

        <p class="muted">Personne ne nous a rejoint cette semaine...</p>

        <% end %>
      </div>
    </div>

  </div>

  <div class="col-flex col-personnal col-xs-12 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h2>Mes réservations à venir</h2>
        <% if @reservations.present? %>
          <%= link_to "Réserver une salle", search_reservations_path, class: 'panel-heading__link' %>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="reservation-list">

          <% if @reservations.each do |reservation| %>

          <%= render('reservations/reservation-item', reservation: reservation, type: "reservation") %>

          <% end.empty? %>

          <p class="muted">Vous n'avez aucune réservation.</p>
          <%= link_to "Réserver une salle", search_reservations_path, class: 'btn btn-info mt' %>

          <% end %>

        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2>Mes projets</h2>
        <% if @projects.present? %>
          <%= link_to "Voir mes projets", projects_path, class: 'panel-heading__link' %>
        <% end %>
      </div>
      <div class="panel-body row">
        <div class="projects">

        <% if @projects.each do |project| %>

          <div class="project col-xs-12 col-sm-6">
            <%= render 'projects/project-item', item: project %>
          </div>

          <% end.empty? %>

          <div class="col-xs-12">
            <p class="muted">Vous n'avez aucun projet.</p>
          </div>

          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<% else %>

<div class="row">
  <div class="panel col-xs-12 col-md-4 col-md-offset-4 txt-c">
    <div class="panel-heading">
      <h2>Admin Schoolab</h2>
    </div>
    <div class="panel-body">
      <p class="muted">Ici vous pouvez créer des événements et ajouter des résidents.</p>
    </div>
  </div>
</div>

<% end %>
