<% if user_signed_in? %>

<div class="row">
  <div class="col-xs-12 col-md-4">

    <div class="panel txt-c">
      <div class="panel-body">
        <% if current_user.photo.file? %>
        <div class="img-thumbnail img-square">
          <%= image_tag current_user.photo.url(:thumb), size: 96 %>
        </div>
        <% end %>
        <div class="panel-heading">
          <h2>
            <span class="panel-heading-prefix block">Bienvenue</span>
            <%= current_user.first_name %>
          </h2>
        </div>
        <p class="muted">
          <%= current_user.title %>
          <% if current_user.company %>
          chez <%= @current_user.company.name %>
          <% end %>
        </p>

        <%= link_to resident_path(current_user), class: 'btn btn-default btn-icon' do %>
          <i class="material-icons">visibility</i> <span>Voir mon profil</span>
        <% end %>
        <%= link_to "Deconnexion", destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h2>Vos réservations</h2>
      </div>
      <div class="panel-body reservation-list">

        <% if @current_user.reservations.where('reservations.end_time > ?', Time.current).order('reservations.start_time ASC').each do |reservation| %>

        <div class="reservation booked">
          <div class="reservation-infos" style="background-color: <%= reservation.meeting_room.colour %>">
            <div class="reservation-infos-content">
              <div class="reservation-infos-name">
                <%= reservation.meeting_room.name %>
              </div>
              <div class="reservation-infos-floor">
                <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %>
              </div>
            </div>
            <div class="reservation-infos-bottom">
              <% if reservation.user == current_user && reservation.start_time > Time.current %>
                <%= link_to "Annuler", reservation, method: :delete, class: 'btn btn-reservation', style: 'color:' + reservation.meeting_room.colour + ';' %>
              <% elsif (reservation.start_time <= Time.current && reservation.end_time >= Time.current) %>
                <span class="btn-reservation" style="color:<%= reservation.meeting_room.colour %>;">En cours</span>
              <%else %>
                <span class="btn-reservation" style="color:<%= reservation.meeting_room.colour %>;">Terminée</span>
              <% end %>
            </div>
          </div>
          <div class="reservation-details">
            <h3 class="reservation-details-title">Votre réservation</h3>
            <p>
              <% if reservation.start_time.today? %>
              Aujourd'hui
              <% else %>
              <%= reservation.friendly_date %>
              <% end %>
              <%= 'de ' +
              reservation.start_time.strftime('%Hh') +
              (reservation.start_time.strftime('%M') != '00' ? reservation.start_time.strftime('%M') : '') +
              ' à ' +
              reservation.end_time.strftime('%Hh') +
              (reservation.end_time.strftime('%M') != '00' ? reservation.end_time.strftime('%M') : '') +
              '.'
              %>
            </p>
            <h3 class="reservation-details-title muted">Information de la salle</h3>
            <p class="muted">Cette salle est située au <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %>. <%#-Il y a une réunion avant la votre jusqu’à 11h30.%></p>
          </div>
        </div>

        <% end.empty? %>
          <p class="muted">Oh non... il n'y a aucune reservation.</p>
          <%= link_to "Réserver une salle", search_reservations_path, class: 'btn btn-info' %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% else %>

<div class="row">
  <div class="panel col-xs-12 col-md-4 col-md-offset-4 txt-c">
    <div class="panel-heading">
      <h2>Admin Schoolab</h2>
    </div>
    <div class="panel-body">
      <p class="muted">Ici vous pouvez créer des événements et ajouter des résidents.</p>
    </div>
  </div>
</div>

<% end %>
