<% if user_signed_in? %>

<div class="row">
  <div class="col-xs-12 col-md-4">

    <div class="panel txt-c">
      <div class="panel-body">
        <% if current_user.photo.file? %>
        <div class="img-thumbnail resident-thumb" style="width:96px;height:96px;">
          <%= image_tag current_user.photo.url(:medium), size: 96 %>
        </div>
        <% end %>
        <div class="panel-heading">
          <h2>
            <span class="panel-heading-prefix block">Bienvenue</span>
            <%= current_user.first_name %>
          </h2>
        </div>
        <p class="muted">
          <% if current_user.title? %>
            <%= current_user.title %>
          <% end %>
          <% if current_user.company.present? %>
            chez <%= link_to current_user.company.name, company_path(current_user.company) %>
          <% end %>
        </p>

        <%= link_to resident_path(current_user), class: 'btn btn-default btn-icon' do %>
          <i class="material-icons">visibility</i> <span>Voir mon profil</span>
        <% end %>
        <%= link_to "Deconnexion", destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2>Événements à venir</h2>
      </div>
      <div class="panel-body">

        <% if Event.where("date = ?", Time.zone.today).present? && (Event.where("date = ?", Time.zone.today).count > 3)  %>
          <% @events = Event.where("date = ?", Time.zone.today).order(date: :asc) %>
        <% else %>
          <% @events = Event.where("date >= ?", Time.zone.today).order(date: :asc).take(3) %>
        <% end %>

        <ul class="events">
          <% @events.each do |event| %>
            <li class="event">
              <% if event.image.present? %>
                <div class="event-img" style="background-image: url(<%= image_path event.image.url(:medium) %>)"></div>
              <% end %>
              <div class="event-content">
                <p class="meta meta-top meta-blue">
                  <% if event.date.today? %>
                    Aujourd'hui
                    <%= + ' de ' +
                    event.start_time.strftime('%Hh') +
                    (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                    ' à ' +
                    event.end_time.strftime('%Hh') +
                    (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
                  <% elsif event.date == Date.tomorrow %>
                    Demain
                    <%= + ' de ' +
                    event.start_time.strftime('%Hh') +
                    (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                    ' à ' +
                    event.end_time.strftime('%Hh') +
                    (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
                  <% else %>
                    <%= event.date.strftime('%d/%m/%y') %>
                    <%= ' de ' +
                    event.start_time.strftime('%Hh') +
                    (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                    ' à ' +
                    event.end_time.strftime('%Hh') +
                    (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
                  <% end %>
                </p>
                <h3 class="event-title">
                  <%= event.title %>
                  <% if event.host? %>
                    <span class="info-block">
                      par <%= event.host %>
                    </span>
                  <% end %>
                </h3>
                <p class="meta meta-bottom meta-grey">
                  <% if event.location.present? %>
                    <i class="icon material-icons">view_agenda</i>
                    <%= event.location %>
                    <span class="pull-right muted"><%= event.full_price %></span>
                  <% else %>
                    <span class="muted"><%= event.full_price %></span>
                  <% end %>
                </p>
                <% if event.link.present? %>
                  <a href="<%= event.link %>" class="event-more">Plus d'infos ›</a>
                  <% if can? :manage, Event %>
                    <%= link_to 'Modifier', edit_event_path(event), class: "muted event-more pull-right" %>
                  <% end %>
                <% else %>
                  <% if can? :manage, Event %>
                    <%= link_to 'Modifier', edit_event_path(event), class: "muted event-more" %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

        <%= link_to "Voir plus d'événements ›", events_path  %>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h2>Mes réservations à venir</h2>
      </div>

      <div class="panel-body reservation-list">

        <% if @current_user.reservations.where('reservations.end_time > ?', Time.current).order('reservations.start_time ASC').each do |reservation| %>

          <div class="reservation booked">
            <div class="reservation-infos" style="background-color: <%= reservation.meeting_room.colour %>">
              <div class="reservation-infos-content">
                <div class="reservation-infos-name">
                  <%= reservation.meeting_room.name %>
                </div>
                <div class="reservation-infos-floor">
                  <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %> - <%= reservation.meeting_room.capacity %> <%= 'place'.pluralize(reservation.meeting_room.capacity) %>
                </div>
              </div>
              <div class="reservation-infos-bottom">
                <% if reservation.user == current_user && reservation.start_time > Time.current %>
                  <%= link_to "Annuler", reservation, method: :delete, class: 'btn btn-reservation', style: 'color:' + reservation.meeting_room.colour + ';' %>
                <% elsif (reservation.start_time <= Time.current && reservation.end_time >= Time.current) %>
                  <span class="btn-reservation" style="color:<%= reservation.meeting_room.colour %>;">En cours</span>
                <%else %>
                  <span class="btn-reservation" style="color:<%= reservation.meeting_room.colour %>;">Terminée</span>
                <% end %>
              </div>
            </div>
            <div class="reservation-details">
              <h3 class="reservation-details-title">Votre réservation</h3>
              <p>
                <% if reservation.start_time.today? %>
                Aujourd'hui
                <% else %>
                <%= reservation.friendly_date %>
                <% end %>
                <%= 'de ' +
                reservation.start_time.strftime('%Hh') +
                (reservation.start_time.strftime('%M') != '00' ? reservation.start_time.strftime('%M') : '') +
                ' à ' +
                reservation.end_time.strftime('%Hh') +
                (reservation.end_time.strftime('%M') != '00' ? reservation.end_time.strftime('%M') : '') +
                '.'
                %>
              </p>
              <h3 class="reservation-details-title muted">Information de la salle</h3>
              <p class="muted">Cette salle est située au <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %>. Il y a de la place pour <%= reservation.meeting_room.capacity %> <%= 'personne'.pluralize(reservation.meeting_room.capacity) %>. <%#-Il y a une réunion avant la votre jusqu’à 11h30.%></p>
            </div>
          </div>

        <% end.empty? %>

          <p class="muted">Oh non... il n'y a aucune reservation.</p>
          <%= link_to "Réserver une salle", search_reservations_path, class: 'btn btn-info' %>

        <% end %>

      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2>Ils nous ont rejoint cette semaine</h2>
      </div>
      <div class="panel-body">
        <% @newbies = User.where('created_at >= ?', Time.zone.today - 7).order('created_at DESC') %>

        <% if @newbies.each do |employee| %>

        <div class="resident">
          <%= link_to resident_path(employee) do %>
            <% if employee.photo.file? %>
              <div class="img-thumbnail resident-thumb pull-left" style="width:80px;height:80px;">
                <%= image_tag employee.photo.url(:medium), size: 80 %>
              </div>
            <% else %>
              <div class="img-thumbnail no-thumb resident-thumb" style="width:80px;height:80px;"></div>
            <% end %>
          <% end %>

          <div class="resident-details">
            <h3 class="panel-title">
              <%= link_to resident_path(employee) do %>
                <%= employee.name %></h3>
              <% end %>
            <% if employee.title? %>
              <p class="panel-subtitle">
                <% if employee.title.present? %>
                  <%= employee.title %>
                <% end %>
                <% if employee.company.present? %>
                  <span class="muted">
                    chez <%= link_to employee.company.name, company_path(employee.company) %>
                  </span>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>

        <% end.empty? %>

          <p class="muted">Personne ne nous a rejoint cette semaine...</p>

        <% end %>
      </div>
    </div>

  </div>
</div>

<% else %>

<div class="row">
  <div class="panel col-xs-12 col-md-4 col-md-offset-4 txt-c">
    <div class="panel-heading">
      <h2>Admin Schoolab</h2>
    </div>
    <div class="panel-body">
      <p class="muted">Ici vous pouvez créer des événements et ajouter des résidents.</p>
    </div>
  </div>
</div>

<% end %>
