<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

    <div class="row form-row">

      <div class="form-group col-md-12 has-feedback has-feedback-left">
        <%= f.label :title, "Nom de l'évènement", class: "sr-only" %>
        <%= f.text_field :title, placeholder: "Nom de l'évènement", class: "form-control" %>
        <i class="form-control-feedback material-icons">event_note</i>
      </div>

      <div class="form-group has-feedback col-md-6">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker form-control', value: f.object.picker_date } %>
        <i class="form-control-feedback material-icons">today</i>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :start_time, "Horaires" %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :start_time, label: false, minute_step: 15, default: Time.parse('9:00') %>
          </div>
          <div class="col-md-6">
            <%= f.input :end_time, label: false, minute_step: 15, default: Time.parse('18:00') %>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :description, "Description" %>
        <%= f.input_field :description, input_html: { rows: 3 }, class: "form-control" %>
      </div>

      <div class="form-group col-md-6 has-feedback has-feedback-left">
        <%= f.label :location, "Lieu/étage", class: "sr-only" %>
        <%= f.text_field :location, placeholder: "Lieu/étage", class: "form-control" %>
        <i class="form-control-feedback material-icons">view_agenda</i>
      </div>

      <div class="form-group col-md-6 has-feedback has-feedback-left">
        <%= f.label :host, "Organisateur", class: "sr-only" %>
        <%= f.text_field :host, placeholder: "Organisateur", class: "form-control" %>
        <i class="form-control-feedback material-icons">group</i>
      </div>

      <div class="form-group col-md-6 has-feedback has-feedback-left">
        <%= f.label :price, "Prix (0€ pour les évènements gratuits)", class: "sr-only" %>
        <%= f.text_field :price, placeholder: "Prix (0€ pour les évènements gratuits)", default: false, class: "form-control" %>
        <i class="form-control-feedback material-icons">monetization_on</i>
      </div>

      <div class="form-group col-md-6 has-feedback has-feedback-left">
        <%= f.label :link, "Lien", class: "sr-only" %>
        <%= f.text_field :link, placeholder: "Lien", class: "form-control" %>
        <i class="form-control-feedback material-icons">link</i>
      </div>

      <div class="form-group col-xs-12">
        <%= f.label "Image de l'évènement", style: "display: block;" %>
        <% if @event.image.file? %>
          <div class="img-thumbnail" style="margin-right: 1rem;">
            <%= image_tag @event.image.url(:medium), width: '100%', class: "pull-left" %>
          </div>
        <% end %>

        <%= f.file_field :image, as: :file, class: "inputfile", data: { :caption => "{nb} fichiers selectionnés" } %>
        <%= f.label :image, '<span class="label-btn">Envoyer une photo</span><span class="label-filename">Pas de fichier selectionné</span>'.html_safe %>
      </div>

      <div class="form-group col-md-6">
        <%= f.input :public, inline_label: "Événement public" %>
      </div>

      <div class="form-group col-md-12">
        <%= f.submit "Sauvegarder", class: "btn btn-primary pull-right" %>
      </div>
    </div>

<% end %>
