<table class="table table-hover datatable" data-paging="true" data-info="false">
  <thead>
    <tr>
      <th>Date</th>
      <th>Heure</th>
      <th>Titre</th>
      <th>Lieu</th>
      <th>Prix</th>
    </tr>
  </thead>

  <tbody>
    <% @past_events.each do |event| %>
    <tr>
      <td data-order="<%= event.date %>"><%= event.friendly_date %></td>
      <td data-order="<%= event.start_time %>"><%= event.start_time.strftime('%kh%M') %>-<%= event.end_time.strftime('%kh%M') %></td>
      <td><strong><%= event.title %></strong></td>
      <td><%= event.location %></td>
      <td data-order="<%= event.price %>"><%= event.full_price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
