<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Événements
      <% if can? :manage, Event %>
        <div class="pull-right">
          <%= link_to "Nouvel événement", new_event_path, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </h2>
    <% if can? :manage, Event %>
      <ul class="inline-list mt">
        <li><strong>7 prochains jours</strong></li>
        <li><%= link_to "À venir", future_events_path %></li>
        <li><%= link_to "Terminés", past_events_path %></li>
        <li><%= link_to "Corbeille", deleted_events_path %></li>
      </ul>
    <% end %>
  </div>

  <div class="panel-body row">
    <div class="col-xs-12 col-md-4">
      <h3 class="mb muted">Aujourd'hui</h3>
      <div class="events">
        <% if @today.exists? %>
          <% @today.each do |event| %>
            <%= render('events/event-item', event: event, hasDescription: true ) %>
          <% end %>
        <% else %>
          <p class="muted">Aucun évènements aujourd'hui...</p>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="mb muted">Demain</h3>
      <div class="events">
        <% if @tomorrow.exists? %>
          <% @tomorrow.each do |event| %>
            <%= render('events/event-item', event: event, hasDescription: true ) %>
          <% end %>
        <% else %>
          <p class="muted">Aucun évènements demain...</p>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="mb muted">Jours suivants</h3>
      <div class="events">
      <% if @week_events.exists? %>
        <% @week_events.each do |event| %>
          <%= render('events/event-item', event: event, hasDescription: true ) %>
        <% end %>
      <% else %>
        <p class="muted">Aucun évènements...</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
