<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Événements
      <div class="pull-right">
        <% if can? :manage, Event %>
          <%= link_to "Événements passés", past_events_path, class: 'btn btn-default' %>
          <%= link_to "Nouvel événement", new_event_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </h2>
  </div>

  <% @today = Event.where("date = ?", Time.zone.today).order(date: :asc) %>
  <% @tomorrow = Event.where("date = ?", Time.zone.today + 1).order(date: :asc) %>
  <% @future_events = Event.where("date > ?", Time.zone.today + 1).order(date: :asc) %>

  <div class="panel-body row">
    <div class="col-xs-12 col-md-4">
      <h3 class="mb muted">Aujourd'hui</h3>
      <ul class="events">
      <% @today.each do |event| %>
        <li class="event">
          <% if event.image.present? %>
            <div class="event-img" style="background-image: url(<%= image_path event.image.url(:medium) %>)"></div>
          <% end %>
          <div class="event-content">
            <p class="meta meta-top meta-blue">
              <% if event.date.today? %>
                Aujourd'hui
                <%= + ' de ' +
                event.start_time.strftime('%Hh') +
                (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                ' à ' +
                event.end_time.strftime('%Hh') +
                (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
              <% else %>
                <%= event.date.strftime('%d/%m/%y') %>
                <%= ' de ' +
                event.start_time.strftime('%Hh') +
                (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                ' à ' +
                event.end_time.strftime('%Hh') +
                (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
              <% end %>
            </p>
            <h3 class="event-title">
              <%= event.title %>
              <% if event.host? %>
                <span class="info-block">
                  par <%= event.host %>
                </span>
              <% end %>
            </h3>
            <% if event.description.present? %>
              <p>
                <%= event.description %>
              </p>
            <% end %>
            <p class="meta meta-bottom meta-grey">
              <% if event.location.present? %>
                <i class="icon material-icons">view_agenda</i>
                <%= event.location %>
                <span class="pull-right"><%= event.full_price %></span>
              <% else %>
                <%= event.full_price %>
              <% end %>
            </p>
            <% if event.link.present? %>
              <a href="<%= event.link %>" class="event-more">Plus d'infos ›</a>
            <% end %>
            <% if can? :manage, Event %>
              <%= link_to 'Modifier', edit_event_path(event), class: "muted event-more" %>
            <% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="mb muted">Demain</h3>
      <ul class="events">
      <% @tomorrow.each do |event| %>
        <li class="event">
          <% if event.image.present? %>
            <div class="event-img" style="background-image: url(<%= image_path event.image.url(:medium) %>)"></div>
          <% end %>
          <div class="event-content">
            <p class="meta meta-top meta-blue">
              <% if event.date.today? %>
                Aujourd'hui
                <%= + ' de ' +
                event.start_time.strftime('%Hh') +
                (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                ' à ' +
                event.end_time.strftime('%Hh') +
                (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
              <% else %>
                <%= event.date.strftime('%d/%m/%y') %>
                <%= ' de ' +
                event.start_time.strftime('%Hh') +
                (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                ' à ' +
                event.end_time.strftime('%Hh') +
                (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
              <% end %>
            </p>
            <h3 class="event-title">
              <%= event.title %>
              <% if event.host? %>
                <span class="info-block">
                  par <%= event.host %>
                </span>
              <% end %>
            </h3>
            <% if event.description.present? %>
              <p>
                <%= event.description %>
              </p>
            <% end %>
            <p class="meta meta-bottom meta-grey">
              <% if event.location.present? %>
                <i class="icon material-icons">view_agenda</i>
                <%= event.location %>
                <span class="pull-right"><%= event.full_price %></span>
              <% else %>
                <%= event.full_price %>
              <% end %>
            </p>
            <% if event.link.present? %>
              <a href="<%= event.link %>" class="event-more">Plus d'infos ›</a>
              <% if can? :manage, Event %>
                <%= link_to 'Modifier', edit_event_path(event), class: "muted event-more pull-right" %>
              <% end %>
            <% else %>
              <% if can? :manage, Event %>
                <%= link_to 'Modifier', edit_event_path(event), class: "muted event-more" %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="mb muted">À venir</h3>
      <ul class="events">
      <% @future_events.each do |event| %>
        <li class="event">
          <% if event.image.present? %>
            <div class="event-img" style="background-image: url(<%= image_path event.image.url(:medium) %>)"></div>
          <% end %>
          <div class="event-content">
            <p class="meta meta-top meta-blue">
              <% if event.date.today? %>
                Aujourd'hui
                <%= + ' de ' +
                event.start_time.strftime('%Hh') +
                (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                ' à ' +
                event.end_time.strftime('%Hh') +
                (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
              <% else %>
                <%= event.date.strftime('%d/%m/%y') %>
                <%= ' de ' +
                event.start_time.strftime('%Hh') +
                (event.start_time.strftime('%M') != '00' ? event.start_time.strftime('%M') : '') +
                ' à ' +
                event.end_time.strftime('%Hh') +
                (event.end_time.strftime('%M') != '00' ? event.end_time.strftime('%M') : '') %>
              <% end %>
            </p>
            <h3 class="event-title">
              <%= event.title %>
              <% if event.host? %>
                <span class="info-block">
                  par <%= event.host %>
                </span>
              <% end %>
            </h3>
            <% if event.description.present? %>
              <p>
                <%= event.description %>
              </p>
            <% end %>
            <p class="meta meta-bottom meta-grey">
              <% if event.location.present? %>
                <i class="icon material-icons">view_agenda</i>
                <%= event.location %>
                <span class="pull-right"><%= event.full_price %></span>
              <% else %>
                <%= event.full_price %>
              <% end %>
            </p>
            <% if event.link.present? %>
              <a href="<%= event.link %>" class="event-more">Plus d'infos ›</a>
            <% end %>
            <% if can? :manage, Event %>
              <%= link_to 'Modifier', edit_event_path(event), class: "muted event-more" %>
            <% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
