<h2 class="page__title">
  <%= title "Évènements" %>
  <% if can? :manage, Event %>
    <div class="pull-right">
      <%= link_to events_path(format: :xls), class: "btn btn-default btn-icon" do %>
        <i class="material-icons">file_download</i> <span>Export Excel</span>
      <% end %>
      <%= link_to "Nouvel événement", new_event_path, class: 'btn btn-info' %>
    </div>
  <% end %>
</h2>

<div class="panel col-xs-12">

  <% if can? :manage, Event %>
    <div class="tablist-heading">
      <ul class="tablist">
        <%= nav_link "7 prochains jours", events_path %>
        <%= nav_link "À venir", future_events_path %>
        <%= nav_link "Ternimés", past_events_path %>
        <%= nav_link "Corbeille", deleted_events_path %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
    <%= render 'list' %>
  </div>

</div>
