<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

<div class="col-xs-12 col-md-8">
  <div class="panel">
    <div class="panel-heading">
      <% if f.object.new_record? %>
        <h2><%= title "Ajouter un projet" %></h2>
      <% else %>
        <h2><%= title "Modifier un projet" %></h2>
      <% end %>
    </div>

    <div class="panel-body">

      <div class="row form-row">

        <div class="form-group col-xs-12 align-items-center">
          <% if @project.image.file? %>
            <div class="thumbnail square-thumb" style="margin-right: 1rem;">
              <%= image_tag @project.image.url(:medium), size: 96, class: "pull-left" %>
            </div>
          <% else %>
            <div class="thumbnail square-thumb no-thumb project-thumb" style="width:96px;height:96px;margin-right:1rem;"></div>
          <% end %>

          <%= f.file_field :image, as: :file, class: "inputfile", data: { :caption => "{nb} fichiers selectionnés" } %>
          <%= f.label :image, '<span class="label-btn">Envoyer une photo</span><span class="label-filename">Pas de fichier selectionné</span>'.html_safe %>
        </div>

      </div>

      <div class="row form-row">

        <div class="form-group col-md-12 has-feedback has-feedback-left">
          <%= f.label :name, "Nom du projet", class: "sr-only" %>
          <%= f.text_field :name, autofocus: true, placeholder: "Nom du projet", class: "form-control" %>
          <i class="form-control-feedback material-icons">assignment</i>
        </div>

        <div class="form-group select-wrapper col-md-6 has-feedback has-feedback-left">
          <%= f.label :project_type, "Type de projet", class: "sr-only" %>
          <%= f.input :project_type, as: :select, collection: @types_collection, label: false, class: "form-control" %>
          <i class="form-control-feedback material-icons">filter_list</i>
        </div>

        <div class="form-group select-wrapper col-md-6 has-feedback has-feedback-left">
          <%= f.label :season, "Saison", class: "sr-only" %>
          <%= f.association :season, label: false, collection: @seasons_collection, class: "form-control" %>
          <i class="form-control-feedback material-icons">date_range</i>
        </div>

        <div class="form-group col-xs-12">
          <%= f.input :description, :input_html => { :rows => 4 } %>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="col-xs-12 col-md-4">
  <div class="panel">
    <div class="panel-heading">
      <h3>Publier</h3>
    </div>
    <div class="panel-body">
      <ul class="simple-list muted">
        <% if @project.created_at.present? %>
          <li>
            <% if @project.audits.present? %>
              <% user_id = @project.audits.first.user.id %>
              <%= 'Créé il y a ' + time_ago_in_words(@project.created_at) + ' par ' %>
              <%= link_to @project.audits.first.user.name, resident_path(user_id) %>.
            <% else %>
              <%= 'Créé il y a ' + time_ago_in_words(@project.created_at) + '.' %>
            <% end %>
          </li>
        <% end %>
        <% if @project.updated_at != @project.created_at %>
          <li>
            <% if @project.audits.present? %>
            <%-# Évènement créés avec Audited -%>
              <% user_id = @project.audits.last.user.id %>
              <%= 'Modifié il y a ' + time_ago_in_words(@project.updated_at) + ' par ' %>
              <%= link_to @project.audits.last.user.name, resident_path(user_id) %>.
            <% else %>
            <%-# Évènement créés avant Audited -%>
              <%= 'Modifié il y a ' + time_ago_in_words(@project.updated_at) + '.' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="panel-footer">
      <% if f.object.new_record? %>
        <div class="flex-end">
          <%= f.submit "Publier", class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="space-between">
          <%= link_to "Supprimer", project_path(project), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-link btn-link--danger" %>
          <%= f.submit "Sauvegarder", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
