<table class="table table-hover datatable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Programme</th>
      <th>Saison</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.season.present? ? project.season : "N/A" %></td>
        <td><%= project.program.present? ? project.program : "N/A" %></td>
        <td>
          <div class="pull-right">
            <% if current_page?(action: 'index') %>
              <%= link_to project_path(project), class: 'btn btn-default btn-xs' do %>
              <i class="material-icons">visibility</i><span>Voir</span>
              <% end %>
              <%= link_to edit_project_path(project), class: 'btn btn-default btn-xs' do %>
              <i class="material-icons">edit</i><span>Modifier</span>
              <% end %>
            <% end %>
            <% if current_page?(action: 'deleted') %>
              <%= link_to recover_project_path(project), method: :put, class: 'btn btn-success btn-xs' do %>
              <i class="material-icons">restore</i><span>Rétablir</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
