<div class="modal fade" id="newLogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= simple_form_for :log, url: project_logs_path(@project) do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Nouveau rapport</h2>
        </div>
        <div class="modal-body">

          <div class="row form-row">

            <div class="form-group col-md-12 has-feedback has-feedback-left">
              <%= f.label :title, "Titre du rapport", class: "sr-only" %>
              <%= f.text_field :title, placeholder: "Titre du rapport", class: "form-control" %>
              <i class="form-control-feedback material-icons">receipt</i>
            </div>

            <div class="form-group col-md-6 has-feedback">
              <%= f.label :date, "Date" %>
              <%= f.input :date, as: :string, label: false, input_html: { class: 'datepicker form-control' } %>
              <i class="form-control-feedback material-icons">today</i>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :description, "Description" %>
              <%= f.input_field :description, input_html: { rows: 3 }, class: "form-control" %>
            </div>

            <div class="form-group col-xs-12">
              <%= f.label "Image", style: "display: block;" %>
              <div class="row">
                <div class="col-xs-12">
                  <%= f.file_field :image, as: :file, class: "inputfile", data: { :caption => "{nb} fichiers selectionnés" } %>
                  <%= f.label :image, '<span class="label-btn">Envoyer une photo</span><span class="label-filename">Pas de fichier selectionné</span>'.html_safe %>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler, ne pas ajouter</button>
          <%= f.submit "Ajouter le rapport", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
