<div class="log-item">
  <div class="log-item__container">
    <% if item.date.presence %>
      <div class="log-item__header">
        <span class="log-item__date"><%= item.friendly_date %></span>
      </div>
    <% end %>

    <div class="log-item__content">
      <% if item.description.presence %>
        <div class="log-item__title">
          <%= item.title %>
        </div>
        <div class="log-item__description">
          <%= item.description %>
        </div>
      <% else %>
        <div class="log-item__title bigger">
          <%= item.title %>
        </div>
      <% end %>
    </div>

    <div class="log-item__footer">
        <% if item.created_at.present? %>
          <span class="muted">
            <% if item.audits.present? %>
              <%= 'Créé par ' %>
              <%= link_to item.audits.first.user.name, resident_path(item.audits.first.user.id) %>.
            <% end %>
          </span>
        <% end %>
      <% if can? :manage, Log %>
        <%= link_to "delete log", project_log_path(log), method: :delete %>
      <% end %>
    </div>
  </div>
  <!-- <div class="log-item__medias">
    <img src="https://images.unsplash.com/photo-1439209306665-700c9bca794c?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="">
  </div> -->
</div>
