<%= render "projects/show/page-title" %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", item: @project %>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="tablist-heading">
        <%= render "projects/show/tablist" %>

        <ul class="tablist right">
          <% if can? :manage, Log %>
            <li><a href="#" data-toggle="modal" data-target="#newLogModal" class="tablist-action">Ajouter</a></li>
          <% end %>
        </ul>
      </div>


      <% if @logs.each do |log| %>

        <%= render "projects/logs/log-item", item: log %>

      <% end.empty? %>

        <div class="panel-body">
          <p class="muted">Il n'y a aucun historique pour ce projet.</p>
        </div>

      <% end %>
    </div>
  </div>
</div>

<%= render "projects/logs/log-modal" %>
