<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", item: @project %>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="tablist-heading">
        <ul class="tablist">
          <li><%= link_to "Participants", @project %></li>
          <li class="active"><%= link_to "Historique", project_logs_path(@project) %></li>
        </ul>

        <ul class="tablist right">
          <li>
            <li><a href="#" data-toggle="modal" data-target="#newLogModal" class="tablist-action">Nouveau rapport</a></li>
          </li>
        </ul>
      </div>

      <% if @logs.each do |log| %>

        <%= render "projects/logs/log-item", item: log %>

      <% end.empty? %>

        <p class="muted">Il n'y a aucun historique pour ce projet.</p>

      <% end %>
    </div>
  </div>
</div>

<%= render "projects/logs/log-modal" %>
