<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", item: @project %>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="panel-heading panel-heading--bordered">
        <h2><%= title @project.name %></h2>
        <ul class="tablist inline-list mt" role="tablist">
          <li role="presentation" class="active">
            <%= link_to "Participants", @project %>
          </li>
          <li role="presentation">
            <%= link_to "Historique", project_logs_path(@project) %>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">

          <div class="panel-body">

            <div class="panel-section">

              <% if @project.project_type == 'startup' %>

              <% else %>

              <% if @project.roles.where(name: "coach").present? %>
              <h3 class="panel-section__title">Équipe Schoolab</h3>
              <div class="row">
                <% @project.roles.where(name: "coach").each do |role| %>
                <div class="col-xs-12 col-md-6">
                  <%= render "member-item", role: role %>
                </div>
                <% end %>
              </div>
              <% end %>

              <% if @project.roles.where(name: "member").present? %>
              <h3 class="panel-section__title">Équipe projet</h3>
              <div class="row">
                <% @project.roles.where(name: "member").each do |role| %>
                <div class="col-xs-12 col-md-6">
                  <%= render "member-item", role: role %>
                </div>
                <% end %>
              </div>
              <% end %>

              <% if @project.roles.where(name: "member").present? %>
              <h3 class="panel-section__title">Entreprise cliente</h3>
              <div class="row">
                <% @project.roles.where(name: "client").each do |role| %>
                <div class="col-xs-12 col-md-6">
                  <%= render "member-item", role: role %>
                </div>
                <% end %>
              </div>
              <% end %>

              <% end %>

              <% if can? :manage, Role %>
              <%= simple_form_for :role, url: project_members_path(@project) do |f| %>
              <div class="row form-row">
                <div class="form-group col-md-6 has-feedback has-feedback-left">
                  <%= f.label :name, "Membre", class: "sr-only" %>
                  <%= f.input :user_id, collection: @other_users,  label: false, prompt: "Membre" %>
                  <i class="form-control-feedback material-icons">person</i>
                </div>
                <div class="form-group col-md-3 has-feedback has-feedback-left">
                  <%= f.label :name, "Rôle", class: "sr-only" %>
                  <%= f.input :name, collection: Role.collection_for_select,  label: false, prompt: "Rôle" %>
                  <i class="form-control-feedback material-icons">whatshot</i>
                </div>
                <div class="col-md-3">
                  <%= f.submit "Ajouter un membre", class: "btn btn-primary col-xs-12" %>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
