<%= render "projects/show/page-title" %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", item: @project %>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="panel">
      <div class="tablist-heading">
        <%= render "projects/show/tablist" %>

        <ul class="tablist right">
          <% if can? :manage, Role %>
            <li><a href="#" data-toggle="modal" data-target="#newMemberModal" class="tablist-action">Ajouter un membre</a></li>
          <% end %>
        </ul>
      </div>

      <div class="panel-body">

        <% if @project.roles.where(name: ["coach", "mentor", "director"]).present? %>
          <div class="panel-section">
            <h3 class="panel-section__title">Équipe Schoolab</h3>
            <div class="row">
              <% @project.roles.where(name: ["coach", "mentor", "director"]).each do |role| %>
                <div class="col-xs-12 col-md-6">
                  <%= render "projects/show/member-item", role: role %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @project.roles.where(name: "client").present? %>
          <div class="panel-section">
            <h3 class="panel-section__title">Équipe du client</h3>
            <div class="row">
              <% @project.roles.where(name: "client").each do |role| %>
                <div class="col-xs-12 col-md-6">
                  <%= render "projects/show/member-item", role: role %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @project.roles.where(name: "member").present? %>
          <div class="panel-section">
            <h3 class="panel-section__title">Équipe du projet</h3>
            <div class="row">
              <% @project.roles.where(name: "member").each do |role| %>
                <div class="col-xs-12 col-md-6">
                  <%= render "projects/show/member-item", role: role %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render "projects/show/member-modal" %>
