<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, label: "Nom de l'entreprise" %>
        <%= f.association :floor %>
        <% if @company.image.file? %>
          <div class="img-thumbnail">
          <%= image_tag @company.image.url(:medium) %>
          </div>
          <br><br>
        <% end %>
        <%= f.input :image, as: :file %>
        <%= f.input :description %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
