<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="row form-row">

    <div class="form-group col-xs-12 align-items-center">
      <% if @company.image.file? %>
        <div class="img-thumbnail" style="margin-right: 1rem;">
          <%= image_tag @company.image.url(:medium), size: 96, class: "pull-left" %>
        </div>
      <% else %>
        <div class="img-thumbnail no-thumb company-thumb" style="width:96px;height:96px;margin-right:1rem;"></div>
      <% end %>

      <%= f.file_field :image, as: :file, class: "inputfile", data: { :caption => "{nb} fichiers selectionnés" } %>
      <%= f.label :image, '<span class="label-btn">Envoyer une photo</span><span class="label-filename">Pas de fichier selectionné</span>'.html_safe %>
    </div>

  </div>
  <div class="row form-row">

    <div class="form-group col-md-6 has-feedback has-feedback-left">
      <%= f.label :name, "Nom de l'entreprise", class: "sr-only" %>
      <%= f.text_field :name, autofocus: true, placeholder: "Nom de l'entreprise", class: "form-control" %>
      <i class="form-control-feedback material-icons">location_city</i>
    </div>

    <div class="form-group select-wrapper col-md-6 has-feedback has-feedback-left">
      <%= f.label :floor, "Étage", class: "sr-only" %>
      <%= f.association :floor, class: 'form-control', label: false, prompt: "Étage" %>
      <i class="form-control-feedback material-icons">view_agenda</i>
    </div>

    <div class="form-group col-xs-12">
      <%= f.input :description, :input_html => { :rows => 4 } %>
    </div>

    <div class="form-group col-md-6 has-feedback has-feedback-left">
      <%= f.label :email, "Email de contact", class: "sr-only" %>
      <%= f.text_field :email, placeholder: "Email de contact", class: "form-control" %>
      <i class="form-control-feedback material-icons">email</i>
    </div>

    <div class="form-group col-md-6 has-feedback has-feedback-left">
      <%= f.label :phone, "Numéro de téléphone", class: "sr-only" %>
      <%= f.text_field :phone, placeholder: "Numéro de téléphone", class: "form-control" %>
      <i class="form-control-feedback material-icons">phone</i>
    </div>

    <div class="form-group col-xs-12">
      <%= f.submit "Sauvegarder", class: "btn btn-primary pull-right" %>
    </div>
  </div>

<% end %>
