<table class="table table-hover datatable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Étage</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td>
          <div class="list-dot" style="background-color: <%= company.floor.present? ? company.floor.colour : "" %>"></div>
          <%= company.floor.present? ? company.floor.name : "N/A" %>
        </td>
        <td>
          <div class="pull-right">
            <% if current_page?(action: 'index') %>
              <%= link_to company_path(company), class: 'btn btn-default btn-xs' do %>
              <i class="material-icons">visibility</i><span>Voir</span>
              <% end %>
              <%= link_to edit_company_path(company), class: 'btn btn-default btn-xs' do %>
              <i class="material-icons">edit</i><span>Modifier</span>
              <% end %>
            <% end %>
            <% if current_page?(action: 'deleted') %>
              <%= link_to recover_company_path(company), method: :put, class: 'btn btn-success btn-xs' do %>
              <i class="material-icons">restore</i><span>Rétablir</span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
