<div class="card col-xs-12">
  <h2 class="card-title">Entreprises résidentes</h2>
  <% if can? :manage, Company %>
  <div class="card-group">
    <%= link_to 'Nouvelle entreprise', new_company_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <% end %>

  <table class="table datatable" data-paging="false" data-info="false">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Étage</th>
        <th data-orderable="false"></th>
        <th data-orderable="false"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.floor.present? ? company.floor.name : "N/A" %></td>
          <td><%= link_to 'Modifier', edit_company_path(company), class: 'btn btn-default btn-xs' %></td>
          <td><%= link_to 'Supprimer', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>