<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Entreprises résidentes
      <% if can? :manage, Company %>
        <%= link_to 'Nouvelle entreprise', new_company_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </h2>
  </div>

  <div class="panel-body">
    <table class="table table-hover datatable">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Étage</th>
          <th data-orderable="false"></th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td>
              <div class="list-dot" style="background-color: <%= company.floor.present? ? company.floor.colour : "" %>"></div>
              <%= company.floor.present? ? company.floor.name : "N/A" %>
            </td>
            <td>
              <div class="pull-right">
                <%= link_to company_path(company), class: 'btn btn-default btn-xs' do %>
                <i class="material-icons">visibility</i><span>Voir</span>
                <% end %>
                <%= link_to edit_company_path(company), class: 'btn btn-default btn-xs' do %>
                <i class="material-icons">edit</i><span>Modifier</span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
