<h2 class="page__title">
  <%= title "Entreprises" %>
  <% if can? :manage, Company %>
    <div class="pull-right">
      <%= link_to 'Nouvelle entreprise', new_company_path, class: 'btn btn-info' %>
    </div>
  <% end %>
</h2>

<div class="panel col-xs-12" id="list-items">

  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", companies_path %>
      <%= nav_link "Corbeille", deleted_companies_path %>
    </ul>

    <ul class="tablist right">
      <%= render "layouts/tablist-search" %>
    </ul>
  </div>

  <div class="panel-body row">

    <ul class="list list-items">
      <% @companies.each do |company| %>

        <li class="col-xs-12 col-md-6">
          <%= render "layouts/list-item", item: company %>
        </li>

      <% end %>
    </ul>

    <ul class="pagination pull-right"></ul>
  </div>

</div>
