<% @employees = User.where('company_id = ?', @company.id) %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel txt-c">
      <div class="panel-body">
        <% if @company.image.file? %>
          <div class="thumbnail company-thumb mb" style="width:96px;height:96px;">
            <%= image_tag @company.image.url(:medium), size: 96 %>
          </div>
        <% else %>
          <div class="thumbnail no-thumb company-thumb mb" style="width:96px;height:96px;"></div>
        <% end %>

        <div class="panel-heading">
          <h2><%= @company.name %></h2>
        </div>
        <ul class="list-infos">
          <li class="muted">
            <%= link_to @company.floor.name, floor_path(@company.floor) %>
          </li>
          <li class="muted"><%= @employees.count %> <%= 'employé'.pluralize(@employees.count) %></li>
        </ul>

        <h4><%= @company.name %> c'est quoi ?</h4>
        <% if @company.description? %>
          <p><%= @company.description %></p>
        <% else %>
          <p class="muted">Pas de description...</p>
        <% end %>

        <ul class="simple-list">
          <% if @company.email? %>
            <li class="list-icon list-icon-email"><%= mail_to @company.email %></li>
          <% end %>
          <% if @company.phone? %>
            <li class="list-icon list-icon-phone"><%= tel_to @company.phone %></li>
          <% end %>
        </ul>

        <% if current_user.role == "admin" %>
          <%= link_to edit_company_path(@company), class: 'btn btn-default btn-icon' do %>
            <i class="material-icons">settings</i><span>Paramètres</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des employés</h2>
      </div>
      <div class="panel-body">
        <% if @employees.each do |employee| %>

        <div class="resident">
          <%= link_to resident_path(employee) do %>
            <% if employee.photo.file? %>
              <div class="thumbnail ovale-thumb resident-thumb pull-left" style="width:80px;height:80px;">
                <%= image_tag employee.photo.url(:medium), size: 80 %>
              </div>
            <% else %>
              <div class="thumbnail ovale-thumb no-thumb resident-thumb" style="width:80px;height:80px;"></div>
            <% end %>
          <% end %>

          <div class="resident-details">
            <h3 class="panel-title">
              <%= link_to resident_path(employee) do %>
                <%= employee.name %>
              <% end %>
            </h3>
            <% if employee.title? %>
              <p class="panel-subtitle"><%= employee.title %></p>
            <% end %>
            <ul class="inline-list">
              <% if employee.email? %>
                <li><%= mail_to employee.email %></li>
              <% end %>
              <% if employee.phone? %>
                <li class="secondary-info"><%= tel_to employee.phone %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <% end.empty? %>

          <p class="muted">Il n'y a personne dans cette entreprise...</p>

        <% end %>
      </div>
    </div>
  </div>
</div>
