<div class="reservation">

  <%= render('meeting_rooms/room-item', room: reservation.meeting_room, reservation: reservation, type: "reservation") %>

  <div class="reservation__details">
    <h3 class="reservation__title">Votre réservation</h3>
    <p>
      <% if reservation.start_time.today? %>
      Aujourd'hui
      <% else %>
      <%= reservation.friendly_date %>
      <% end %>
      <%= 'de ' +
      reservation.start_time.strftime('%Hh') +
      (reservation.start_time.strftime('%M') != '00' ? reservation.start_time.strftime('%M') : '') +
      ' à ' +
      reservation.end_time.strftime('%Hh') +
      (reservation.end_time.strftime('%M') != '00' ? reservation.end_time.strftime('%M') : '') +
      '.'
      %>
    </p>
    <h3 class="reservation__title muted">Information de la salle</h3>
    <p class="muted">Cette salle est située au <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %>. Il y a de la place pour <%= reservation.meeting_room.capacity %> <%= 'personne'.pluralize(reservation.meeting_room.capacity) %>. <%#-Il y a une réunion avant la votre jusqu’à 11h30.%></p>
  </div>

</div>
