<h2 class="page__title txt-c"><%= title "Réserver une salle" %></h2>

<div class="panel panel-large col-xs-12 txt-c">

  <%= simple_form_for @search, url: search_reservations_path, method: :get do |f| %>

  <div class="panel-body">
    <div class="form-sentence muted">
        J’ai besoin d’une salle le
      <div class="form-group has-feedback">
        <%= f.label :start_time_date, "Date", class: "sr-only" %>
        <%= f.input :start_time_date, as: :string, label: false, input_html: { class: 'datepicker-future', value: f.object.datepicker_start_time } %>
        <i class="form-control-feedback material-icons">today</i>
      </div> à
      <div class="length">
        <%= f.input :start_time_time, as: :time, minute_step: 30, label: false, start_hour: 8, end_hour: 22 %>
      </div>
      pendant
      <div class="length">
        <%= f.input :length_time, as: :time, minute_step: 30, default: Time.parse('1:00'), start_hour: 0, end_hour: 4, label: false %>
      </div>
    </div>

    <%= f.submit "Rechercher", class: 'btn btn-primary' %>
  </div>

  <% end %>
</div>

<% if @available_rooms.present? or @unavailable_rooms.present? %>
  <div class="panel col-xs-12">
    <% if @available_rooms.present? %>

      <h2 class="panel-heading txt-c"><%= @available_rooms.count %> <%= 'salle'.pluralize(@available_rooms.count) %> <%= 'disponible'.pluralize(@available_rooms.count) %> le <strong><%= @search.friendly_start_time %></strong></h2>
      <div class="panel-body row">
        <% @available_rooms.each do |room| %>

          <div class="col-xs-12 col-md-6 col-lg-3">
            <%= render('meeting_rooms/room-item', room: room, type: "search") %>
          </div>

        <% end %>
      </div>

    <% end %>

    <% if @unavailable_rooms.present? %>

      <h2 class="panel-heading txt-c"><%= @unavailable_rooms.count %> <%= 'salle'.pluralize(@unavailable_rooms.count) %> non <%= 'disponible'.pluralize(@unavailable_rooms.count) %> le <strong><%= @search.friendly_start_time %></strong></h2>
      <div class="panel-body row">
        <% @unavailable_rooms.each do |room| %>

          <div class="col-xs-12 col-md-6 col-lg-3">
            <%= render('meeting_rooms/room-item', room: room, type: "search") %>
          </div>

        <% end %>
      </div>

    <% end %>
  </div>
<% end %>
