<h2>Réserver une salle</h2>

<%= simple_form_for @search, url: search_reservations_path, method: :get do |f| %>

<div class="row">

  <div class="col-md-6">
    <%= f.input :start_time, as: :datetime, minute_step: 30 %>
  </div>

</div>

<%= f.submit "Rechercher", class: 'btn btn-primary' %>

<% end %>

<% if @rooms.present? %>

  <h3>Résultats</h3>

  <table class="table">

    <thead>
      <tr>
        <th></th>
        <th>Salle</th>
        <th>Réservation</th>
      </tr>
    </thead>

    <tbody>

<% @rooms.each do |room| %>

      <tr>
        <td><div class="colour-square" style="background-color: <%= room.colour %>"></div></td>
        <td><%= room.name %></td>
        <td>
          <% if reservation = room.reservation_at(@reservation.start_time) %>
            <%= link_to reservation.user.name, resident_path(reservation.user) %> | <%= reservation.time %>
          <% else %>
            <button class="btn btn-default btn-xs">Réserver</button>
          <% end %>
        </td>
      </tr>

<% end %>

    </tbody>

  </table>

<% end %>