<h2>Réserver une salle</h2>

<%= simple_form_for @search, url: search_reservations_path, method: :get do |f| %>

<div class="row">

  <div class="col-md-6">
    <%= f.input :start_time, as: :datetime, minute_step: 30, label: "Heure" %>
  </div>

  <div class="col-md-6">
    <%= f.input :length_time, as: :time, minute_step: 30, default: Time.parse('1:00'), start_hour: 0, end_hour: 4, label: "Durée" %>
  </div>

</div>

<%= f.submit "Rechercher", class: 'btn btn-primary' %>

<% end %>

<% if @rooms.present? %>

  <h3>Résultats : <%= @search.start_time.strftime('%e %b %Y') %></h3>

  <% reservation_end_time = @search.start_time + @search.length.to_s.to_i %>

  <table class="table">

    <thead>
      <tr>
        <th></th>
        <th>Salle</th>
        <th>Réservations</th>
      </tr>
    </thead>

    <tbody>

<% @rooms.each do |room| %>

      <tr>
        <td><div class="colour-square" style="background-color: <%= room.colour %>"></div></td>
        <td><%= room.name %></td>
        <td>
          <% if reservations = room.reservation_at(@search.start_time, reservation_end_time) %>
            <% reservations.each do |reservation| %>
              <%= link_to reservation.user.name, resident_path(reservation.user) %> | <%= reservation.time %>
              <% if reservation.user == current_user %>
               | <%= link_to "Annuler", reservation, method: :delete %>
              <% end %>
              <br>
            <% end %>
          <% else %>
            <%= simple_form_for @reservation do |f| %>
              <%= f.input :meeting_room_id, as: :hidden, input_html: { value: room.id } %>
              <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
              <%= f.input :start_time, as: :hidden, input_html: { value: @search.start_time } %>
              <%= f.input :end_time, as: :hidden, input_html: { value: reservation_end_time } %>
              <% label = "Réserver de " + @search.start_time.strftime('%Hh%M') + " à " + reservation_end_time.strftime('%Hh%M') %>
              <%= f.submit label, class: 'btn btn-default btn-xs' %>
            <% end %>
          <% end %>
        </td>
      </tr>

<% end %>

    </tbody>

  </table>

<% end %>