<h2 class="page__title">
  <%= title "Étages" %>
  <% if can? :manage, Floor %>
    <div class="pull-right">
      <%= link_to 'Ajouter un étage', new_floor_path, class: 'btn btn-info' %>
    </div>
  <% end %>
</h2>

<div class="panel col-xs-12">

  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", floors_path %>
      <% if can? :manage, Floor %>
        <%= nav_link "Corbeille", deleted_floors_path %>
      <% end %>
    </ul>
  </div>

  <div class="panel-body">
    <%= render 'list' %>
  </div>
</div>
