<div class="panel col-xs-12">
  <div class="panel-heading">
    <h2>
      Étages
      <% if can? :manage, Floor %>
        <%= link_to 'Ajouter un étage', new_floor_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </h2>
  </div>

  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
        </tr>
      </thead>

      <tbody>
        <% @floors.each do |floor| %>
          <tr>
            <td>
              <div class="list-dot" style="background-color: <%= floor.colour %>"></div>
              <%= floor.name %>

              <div class="pull-right">
                <%= link_to floor_path(floor), class: 'btn btn-default btn-xs' do %>
                <i class="material-icons">visibility</i><span>Voir</span>
                <% end %>
                <%= link_to edit_floor_path(floor), class: 'btn btn-default btn-xs' do %>
                <i class="material-icons">edit</i><span>Modifier</span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
