<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel txt-c">
      <div class="panel-heading">
        <div class="thumbnail losange-thumb no-thumb floor-thumb mb" style="width:68px;height:68px;"></div>
        <h2><%= @floor.name %></h2>
      </div>
      <div class="panel-body">
        <ul class="list-infos">
          <li class="muted"><%= @companies.count %> <%= 'entreprise'.pluralize(@companies.count) %></li>
          <li class="muted"><%= @floor.residents_nb(@companies) %> <%= 'résident'.pluralize(@residents) %></li>
          <li class="muted"><%= @spaces.count %> <%= 'salle'.pluralize(@spaces.count) %> de réunion</li>
        </ul>

        <% if can? :manage, Floor %>
          <%= link_to edit_floor_path(@floor), class: 'btn btn-default btn-icon' do %>
            <i class="material-icons">settings</i><span>Paramètres</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des entreprises</h2>
      </div>
      <div class="panel-body">
        <% if @companies.each do |company| %>

          <%= render "layouts/list-item", type: company %>

        <% end.empty? %>

          <p class="muted">Il n'y a pas d'entreprise à cet étage...</p>

        <% end %>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2>Liste des salles de réunion</h2>
      </div>
      <div class="panel-body row">
        <% if @spaces.each do |space| %>

        <div class="col-xs-12 col-md-6 col-xl-4">

          <%= render('meeting_rooms/room-item', room: space, reservation: space.reservations, type: "link") %>

        </div>

        <% end.empty? %>

          <p class="col-xs-12 muted">Il n'y a pas de salle de réunion à cet étage...</p>

        <% end %>
      </div>

    </div>
  </div>
</div>
