<%= form.error_notification %>

<div class="col-xs-12 col-md-8">
  <div class="panel">
    <div class="panel-heading">
      <% if form.object.new_record? %>
        <h2><%= title "Ajouter une personne" %></h2>
      <% else %>
        <h2><%= title "Modifier une personne" %></h2>
      <% end %>
    </div>

    <div class="panel-body">

      <div class="row form-row">

        <div class="form-group col-xs-12 align-items-center">
          <% if @user.photo.file? %>
            <div class="thumbnail ovale-thumb resident-thumb" style="width:96px;height:96px;margin-right:1rem;">
              <%= image_tag @user.photo.url(:medium), size: 96 %>
            </div>
          <% else %>
            <div class="thumbnail ovale-thumb no-thumb resident-thumb" style="width:96px;height:96px;margin-right:1rem;"></div>
          <% end %>

          <%= form.file_field :photo, as: :file, class: "inputfile", data: { :caption => "{nb} fichiers selectionnés" } %>
          <%= form.label :photo, '<span class="label-btn">Envoyer une photo</span><span class="label-filename">Pas de fichier selectionné</span>'.html_safe %>
        </div>

      </div>
      <div class="row form-row">

        <div class="form-group col-md-6">
          <%= form.label :first_name, "Prénom", class: "sr-only" %>
          <%= form.text_field :first_name, autofocus: true, placeholder: "Prénom", class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :last_name, "Nom", class: "sr-only" %>
          <%= form.text_field :last_name, placeholder: "Nom", class: "form-control" %>
        </div>

        <div class="form-group select-wrapper  col-md-6 has-feedback has-feedback-left">
          <%= form.label :company_id, "Entreprise", class: "sr-only" %>
          <%= form.collection_select :company_id, Company.all.order(:name), :id, :name, {}, class: 'form-control' %>
          <i class="form-control-feedback material-icons">location_city</i>
        </div>

        <div class="form-group col-md-6 has-feedback has-feedback-left">
          <%= form.label :title, "Titre/rôle", class: "sr-only" %>
          <%= form.text_field :title, placeholder: "Titre/rôle", class: "form-control" %>
          <i class="form-control-feedback material-icons">work</i>
        </div>

        <div class="form-group col-md-6 has-feedback has-feedback-left">
          <%= form.label :email, "Adresse mail", class: "sr-only" %>
          <%= form.text_field :email, placeholder: "Adresse mail", class: "form-control" %>
          <i class="form-control-feedback material-icons">mail</i>
        </div>
        <div class="form-group col-md-6 has-feedback has-feedback-left">
          <%= form.label :phone, "Numéro de téléphone", class: "sr-only" %>
          <%= form.text_field :phone, placeholder: "Numéro de téléphone", class: "form-control" %>
          <i class="form-control-feedback material-icons">phone</i>
        </div>

      </div>

      <h4>Est-ce un admin ?</h4>
      <p>Indiquez le rôle de l'utilisateur sur l'admin de Schoolab.</p>

      <div class="row form-row">
        <div class="form-group select-wrapper col-md-6 has-feedback has-feedback-left">
          <%= form.input :role, collection: User::ROLES, label: false, default: 1, input_html: {class: 'form-control'} %>
          <i class="form-control-feedback material-icons">whatshot</i>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12 col-md-4">
  <div class="panel">
    <div class="panel-heading">
      <h3>Publier</h3>
    </div>
    <div class="panel-body">
      <% if !form.object.new_record? %>
        <ul class="simple-list">
          <li>
            <% if @user.created_at.present? %>
              <%= 'Inscrit il y a ' + time_ago_in_words(@user.created_at) + '. ' %>
            <% end %>
          </li>

          <% unless @user.last_sign_in_at.present? %>
            <li>L'utilisateur ne s'est jamais connecté.</li>
          <% else @user.current_sign_in_at.present? %>
            <li><%= 'Dernière connexion il y a ' + time_ago_in_words(@user.current_sign_in_at) + '.'%></li>
          <% end %>

          <%if @user.reset_password_sent_at %>
            <li><%= 'Mot de passe oublié il y a ' + time_ago_in_words(@user.reset_password_sent_at) + '.'%></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="panel-footer">
      <% if form.object.new_record? %>
        <div class="flex-end">
          <%= form.submit "Publier", class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="space-between">
          <%= link_to "Supprimer", resident_path(user), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-link btn-link--danger" %>
          <%= form.submit "Sauvegarder", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
