<h2 class="page__title">
  <%= title "Personnes" %>
  <% if can? :manage, User %>
  <div class="pull-right">
    <%= link_to residents_path(format: :xls), class: "btn btn-default btn-icon" do %>
      <i class="material-icons">file_download</i> <span>Export Excel</span>
    <% end %>
    <%= link_to "Nouvelle personne", new_resident_path, class: 'btn btn-info' %>
  </div>
  <% end %>
</h2>

<div class="panel col-xs-12">

  <div class="tablist-heading">
    <ul class="tablist">
      <%= nav_link "Tous", residents_path %>
    </ul>
  </div>

  <div class="panel-body row">
    <% @users.each do |user| %>

      <div class="col-xs-12 col-md-6">
        <%= render "layouts/list-item", item: user %>
      </div>

    <% end %>

  </div>

</div>
