<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel txt-c">
      <div class="panel-body">
        <% if @user.photo.file? %>
          <div class="img-thumbnail img-square">
            <%= image_tag @user.photo.url(:medium), size: 96 %>
          </div>
        <% else %>
          <div class="img-thumbnail img-square no-thumb resident" style="width:96px;height:96px;"></div>
        <% end %>
        <div class="panel-heading">
          <h2><%= @user.name %></h2>
        </div>
        <p class="muted">
          <%= @user.title %>
          <% if @user.company %>
            chez <%= @user.company.name %>
          <% end %>
        </p>
        <ul class="profile-links">
          <li class="profile-icon-email"><%= mail_to @user.email %></li>
          <li class="profile-icon-phone"><%= tel_to @user.phone %></li>
        </ul>

        <% if current_user == @user %>
          <%= link_to "Paramètres", edit_user_registration_path, class: 'btn btn-default' %>
        <% elsif current_user.role == "admin" %>
          <%= link_to "Paramètres", edit_resident_path(@user), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <% if (current_user.role == "admin" || current_user == @user ) && @user.reservations.count > 0 %>

    <div class="panel">
      <div class="panel-heading">
        <h2>Dernières réservations</h2>
      </div>

      <div class="panel-body reservation-list">
        <% @user.reservations.order('reservations.start_time ASC').each do |reservation| %>
          <div class="reservation booked">
            <div class="reservation-infos" style="background-color: <%= reservation.meeting_room.colour %>">
              <div class="reservation-infos-content">
                <div class="reservation-infos-name">
                  <%= reservation.meeting_room.name %>
                </div>
                <div class="reservation-infos-floor">
                  <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %>
                </div>
              </div>
              <div class="reservation-infos-bottom">
                <% if reservation.user == current_user && reservation.start_time > Time.current %>
                  <%= link_to "Annuler", reservation, method: :delete, class: 'btn btn-reservation', style: 'color:' + reservation.meeting_room.colour + ';' %>
                <% elsif (reservation.start_time <= Time.current && reservation.end_time >= Time.current) %>
                  <span class="btn-reservation" style="color:<%= reservation.meeting_room.colour %>;">En cours</span>
                <% else %>
                  <span class="btn-reservation" style="color:<%= reservation.meeting_room.colour %>;">Terminée</span>
                <% end %>
              </div>
            </div>
            <div class="reservation-details">
              <h3 class="reservation-details-title">Votre réservation</h3>
              <p>
                <% if reservation.start_time.today? %>
                  Aujourd'hui
                <% else %>
                  <%= reservation.date %>
                <% end %>
                <%=
                  'de ' +
                  reservation.start_time.strftime('%Hh') +
                  (reservation.start_time.strftime('%M') != '00' ? reservation.start_time.strftime('%M') : '') +
                  ' à ' +
                  reservation.end_time.strftime('%Hh') +
                  (reservation.end_time.strftime('%M') != '00' ? reservation.end_time.strftime('%M') : '') +
                  '.'
                %>
              </p>
              <h3 class="reservation-details-title muted">Information de la salle</h3>
              <p class="muted">Cette salle est située au <%= reservation.meeting_room.floor.present? ? reservation.meeting_room.floor.name : "N/A" %>. <%#- Il y a une réunion avant la votre jusqu’à 11h30.%></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <% elsif (current_user.role == "admin" || current_user == @user) && @user.reservations.count == 0 %>

      <div class="panel col-xs-12 col-md-8">
      <div class="panel-heading">
        <h2>Dernières réservations</h2>
      </div>
      <div class="panel-body muted">
        Il n'y a aucune réservation récente.
      </div>
    </div>

    <% else %>

    <div class="panel col-xs-12 col-md-8">
      <div class="panel-heading">
        <h2>Dernières réservations</h2>
      </div>
      <div class="panel-body muted">
        Vous n'avez pas accès à la liste des réservations de ce résident.
      </div>
    </div>

    <% end %>
  </div>
</div>
