<!-- Salut petit curieux ;)
<h2 class="page__title">
  <%= render "layouts/thumbnail", thumb: @user.photo, size: "2.5rem", addclass: "mr" %>
  <% if current_user == @user %>
    Vous
    <div class="pull-right">
      <%= link_to edit_resident_path(@user), class: 'btn btn-default btn-icon' do %>
        <i class="material-icons">edit</i><span>Modifier</span>
      <% end %>
    </div>
  <% else %>
    <%= @user.name %>
  <% end %>

</h2> -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "layouts/card-item", item: @user %>
  </div>

  <div class="col-xs-12 col-md-8">
    <% if (current_user.role == "admin" || current_user == @user ) && @user.reservations.count > 0 %>

    <div class="panel">
      <div class="panel-heading">
        <h2>Dernières réservations</h2>
      </div>
      <div class="panel-body reservation-list pt0">
        <% @reservations.each do |reservation| %>
          <%= render('reservations/reservation-item', reservation: reservation) %>
        <% end %>
      </div>
    </div>

    <% elsif (current_user.role == "admin" || current_user == @user) && @user.reservations.count == 0 %>

      <div class="panel">
      <div class="panel-heading">
        <h2>Dernières réservations</h2>
      </div>
      <div class="panel-body muted">
        Il n'y a aucune réservation récente.
      </div>
    </div>

    <% else %>

    <div class="panel">
      <div class="panel-heading">
        <h2>Dernières réservations</h2>
      </div>
      <div class="panel-body muted">
        Vous n'avez pas accès à la liste des réservations de ce résident.
      </div>
    </div>

    <% end %>
  </div>
</div>
