<div class="member-item">
  <%= link_to resident_path(role.user) do %>
  <div class="thumbnail ovale-thumb pull-left" style="width:3rem;height:3rem;">
    <%= image_tag role.user.photo.url(:thumb) %>
  </div>
  <% end %>

  <div class="member-item__details">
    <div class="member-item__title">
      <%= link_to role.user.name, resident_path(role.user) %>
      <% if can? :manage, Role %>
      <span class="muted member-item__actions">
        <%= link_to "Retirer", role, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
      </span>
      <% end %>
    </div>
    <div class="member-item__subtitle">
      <%= role.user.title %>
    </div>
  </div>

</div>
