<div class="log-item only-medias">
  <div class="log-item__container">

    <%= render "projects/log-item/log-item-header", item: item %>

    <div class="log-item__content">

        <div class="log-item__title bigger">
          <%= item.title %>
        </div>

    </div>

    <%= render "projects/log-item/log-item-footer", item: item %>

  </div>

  <div class="log-item__medias embed-responsive-16by9 mb">
    <%= image_tag item.image.url(:cover) %>
  </div>

  <%= render "projects/log-item/log-item-footer", item: item %>
</div>
