<%
  case item.class.to_s

  when 'Floor'
    @companies = Company.where('floor_id = ?', @floor.id)
    @spaces = MeetingRoom.where('floor_id = ?', @floor.id)
    cardItem_textAlign = "txt-c"
    cardItem_imageType = "thumb"
    cardItem_thumbItem = "floor-thumb"
    cardItem_thumbSize = 96
    cardItem_editPath = edit_floor_path(item)
    cardItem_titleHeading = item.name

    listInfo_companies = @companies.count.to_s
    listInfo_companies += ' entreprise'.pluralize(@companies.count)
    listInfo_floors = item.residents_nb(@companies).to_s
    listInfo_floors += ' résident'.pluralize(@residents)
    listInfo_spaces = @spaces.count.to_s
    listInfo_spaces += ' salle'.pluralize(@spaces.count)
    listInfo_spaces += ' de réunion'

    cardItem_infosList = [ listInfo_companies, listInfo_floors, listInfo_spaces ]
    cardItem_contactList = []

  when 'Company'
    cardItem_textAlign = "txt-c"
    cardItem_imageType = "thumb"
    cardItem_thumbnailName = item.image
    cardItem_thumbItem = "company-thumb"
    cardItem_thumbSize = 96
    cardItem_editPath = edit_company_path(item)
    cardItem_titleHeading = item.name

    listInfo_floor = link_to item.floor.name, floor_path(item.floor)
    listInfo_employees = item.employees.count.to_s
    listInfo_employees += ' employé'.pluralize(item.employees.count)

    cardItem_infosList = [ listInfo_floor, listInfo_employees ]

    cardItem_description = '<h3 class="card-item--section-title">' + item.name + ' c\'est quoi ?</h3>'
    if item.description?
      cardItem_description += "<p>" + item.description + "</p>"
    else
      cardItem_description += "<p>Pas de description...</p>"
    end

    if item.email?
      listInfo_email = mail_to item.email
    end

    if item.phone?
      listInfo_phone = mail_to item.phone
    end

    cardItem_contactList = [ ["list-icon-email", listInfo_email], ["list-icon-phone", listInfo_phone] ]

  when 'Project'
    cardItem_imageType = "cover"
    cardItem_thumbnailName = item.image
    cardItem_thumbItem = "image-thumb"
    cardItem_thumbSize = 96
    cardItem_editPath = edit_project_path(item)
    cardItem_titleHeading = item.name

    cardItem_infosList = []

    cardItem_description = '<h3 class="card-item--section-title">À propos</h3>'
    if item.description?
      cardItem_description += "<p>" + item.description + "</p>"
    else
      cardItem_description += "<p>Pas de description...</p>"
    end

    cardItem_detailsTitle = '<h3 class="card-item--section-title">Détails</h3>'
    listInfo_program = '<p class="card-item--item-title">Programme</p>' + item.program.name
    listInfo_season = '<p class="card-item--item-title">Saison</p>' + item.season.name

    cardItem_detailsList = [ listInfo_program, listInfo_season ]

    cardItem_contactList = []

  when 'Program'
    cardItem_textAlign = "txt-c"
    cardItem_imageType = "thumb"
    cardItem_thumbnailName = item.image
    cardItem_thumbItem = "image-thumb"
    cardItem_thumbSize = 96
    cardItem_editPath = edit_program_path(item)
    cardItem_titleHeading = item.name

    # listInfo_floor = link_to item.floor.name, floor_path(item.floor)
    # cardItem_infosList = [ listInfo_floor ]

    cardItem_description = '<h3 class="card-item--section-title">À propos</h3>'
    if item.description?
      cardItem_description += "<p>" + item.description + "</p>"
    else
      cardItem_description += "<p>Pas de description...</p>"
    end

    cardItem_detailsTitle = '<h3 class="card-item--section-title">Détails</h3>'

    cardItem_detailsList = []

    cardItem_contactList = []

  when 'User'
    cardItem_textAlign = "txt-c"
    cardItem_imageType = "thumb"
    cardItem_thumbnailName = item.photo
    cardItem_thumbShape = "ovale-thumb"
    cardItem_thumbItem = "resident-thumb"
    cardItem_thumbSize = 96

    cardItem_editPath = edit_resident_path(item)
    cardItem_titleHeading = item.name

    list_info_title = item.title
    if item.company.present?
      list_info_title += ' chez '
      list_info_title += link_to item.company.name, item.company
    end

    cardItem_infosList = [
      list_info_title
    ]

    # Liste de ses rôles (hors projets/startups)
    list_info_roles = item.roles.map do |role|
      role.entity_type != 'Project' ? role.name + ' - ' + role.entity.name : nil
    end
    cardItem_infosList.concat list_info_roles.compact # remove nil values

    # Liste des projets/startups auxquels il a participé
    list_info_projects = ['<br><strong>Projets</strong>']
    item.projects.each do |project|
      list_info_projects.push(link_to project.name, project)
    end
    cardItem_infosList.concat list_info_projects

    if item.email?
      listInfo_email = mail_to item.email
    end

    if item.phone?
      listInfo_phone = tel_to item.phone
    end

    cardItem_contactList = [
      ["list-icon-email", listInfo_email],
      ["list-icon-phone", listInfo_phone]
    ]

  end
%>


<% if cardItem_imageType == "cover" %>
  <div class="panel-header">
    <%= image_tag cardItem_thumbnailName.url(:cover) %>
  </div>
<% end %>

<div class="panel <%= cardItem_textAlign.presence || cardItem_textAlign %>">

  <div class="panel-heading">
    <% if cardItem_imageType == "thumb" %>
      <% if cardItem_thumbnailName.present? && cardItem_thumbnailName.file? %>
        <div class="thumbnail <%= cardItem_thumbShape.presence || cardItem_thumbShape %> mb" style="width:<%= cardItem_thumbSize %>px;height:<%= cardItem_thumbSize %>px;">
          <%= image_tag cardItem_thumbnailName.url(:thumb), size: cardItem_thumbSize %>
        </div>
      <% else %>
        <div class="thumbnail no-thumb <%= cardItem_thumbShape.presence || cardItem_thumbShape %> <%= cardItem_thumbItem.presence || cardItem_thumbItem %> mb" style="width:<%= cardItem_thumbSize %>px;height:<%= cardItem_thumbSize %>px;"></div>
      <% end %>
    <% end %>

    <% if cardItem_titleHeading.present? %>
      <h2 class="card-item--title"><%= title cardItem_titleHeading %></h2>
    <% end %>

  </div>
  <div class="panel-body">

    <% if cardItem_infosList.present? %>
      <ul class="list-infos">
        <% cardItem_infosList.each do |info| %>
          <li class="muted"><%= info.html_safe %></li>
        <% end %>
      </ul>
    <% end %>

    <% if cardItem_description.present? %>
      <div class="card-item--section">
        <%= cardItem_description.html_safe %>
      </div>
    <% end %>

    <% if cardItem_detailsList.present? %>
      <div class="card-item--section">
        <%= cardItem_detailsTitle.html_safe %>
        <ul class="simple-list list-details--multiline">
          <% cardItem_detailsList.each do |detail| %>
            <li><%= detail.html_safe %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if cardItem_contactList.present? %>
      <ul class="simple-list list-contact-infos">
        <% cardItem_contactList.each do |key,value| %>
          <li class="list-icon <% puts key.to_s %>"><%= value %></li>
        <% end %>
      </ul>
    <% end %>

    <% if current_user == @user %>
      <%= link_to edit_user_registration_path, class: 'btn btn-default btn-icon' do %>
        <i class="material-icons">edit</i> <span>Modifier</span>
      <% end %>
    <% elsif can? :manage, item.class %>
      <%= link_to cardItem_editPath, class: 'btn btn-default btn-icon' do %>
        <i class="material-icons">edit</i><span>Modifier</span>
      <% end %>
    <% end %>

  </div>
</div>
