<% puts case item.class.to_s

  when 'User'
    cardItem_thumbnail = item.photo
    cardItem_thumbShape = "ovale-thumb"
    cardItem_thumbType = "resident-thumb"
    cardItem_thumbSize = "5rem"

    cardItem_path = resident_path(item)
    cardItem_editPath = edit_resident_path(item)
    cardItem_titleHeading = item.name
    if item.title.present?
      cardItem_titleSubtitle = item.title + ' '
    else
      cardItem_titleSubtitle = ''
    end

    if item.company.present? && controller.controller_name != "companies"
      cardItem_titleSubtitle += '<span class="muted">chez '
      cardItem_titleSubtitle += link_to item.company.name, company_path(item.company)
      cardItem_titleSubtitle += '</span>'
    end

    if item.email?
      listInfo_email = mail_to item.email
    end

    if item.phone?
      listInfo_phone = mail_to item.phone
    end

    cardItem_contactList = [ ["list-icon-email", listInfo_email], ["list-icon-phone", listInfo_phone] ]

  when 'Company'
    cardItem_thumbnail = item.image
    cardItem_thumbType = "company-thumb"
    cardItem_thumbSize = "5rem"

    cardItem_path = company_path(item)
    cardItem_editPath = edit_company_path(item)
    cardItem_titleHeading = item.name
    cardItem_titleSubtitle = item.employees.count.to_s
    cardItem_titleSubtitle += ' employé'.pluralize(item.employees.count).to_s
    if item.floor.present?
      cardItem_titleSubtitle += ' - ' + item.floor.name
    else
      cardItem_titleSubtitle += ' - Pas d\'étage'
    end

    if item.email?
      listInfo_email = mail_to item.email
    end

    if item.phone?
      listInfo_phone = mail_to item.phone
    end

    cardItem_contactList = [ ["list-icon-email", listInfo_email], ["list-icon-phone", listInfo_phone] ]

  when 'Program'
    cardItem_thumbnail = item.image
    cardItem_thumbType = "image-thumb"
    cardItem_thumbSize = "5rem"

    cardItem_path = program_path(item)
    cardItem_editPath = edit_program_path(item)
    cardItem_titleHeading = item.name

    if item.seasons.count > 0
      cardItem_titleSubtitle = item.seasons.count.to_s + ' saison'.pluralize(item.seasons.count) + ' - '
    else
      cardItem_titleSubtitle = ''
    end
    if item.projects.count > 0
      cardItem_titleSubtitle += item.projects.count.to_s + ' projet'.pluralize(item.projects.count)
    else
      cardItem_titleSubtitle += "Pas de projets"
    end

  when 'Project'
    cardItem_thumbnail = item.image
    cardItem_thumbType = "project-thumb"
    cardItem_thumbSize = "5rem"

    cardItem_path = project_path(item)
    cardItem_editPath = edit_project_path(item)
    cardItem_titleHeading = item.name
    cardItem_titleSubtitle = item.roles.count.to_s
    cardItem_titleSubtitle += ' participant'.pluralize(item.roles.count.to_s)
    cardItem_titleSubtitle += ' - '
    cardItem_titleSubtitle += item.logs.count.to_s
    cardItem_titleSubtitle += ' actualité'.pluralize(@logs)


end %>

<div class="list-item">
  <%= link_to cardItem_path do %>

    <%= render "layouts/thumbnail", thumb: cardItem_thumbnail, size: cardItem_thumbSize, addclass: "pull-left", shape: cardItem_thumbShape.presence || cardItem_thumbShape %>

  <% end %>

  <div class="list-item__details">

    <% if cardItem_titleHeading.presence %>
      <h3 class="panel-title">
        <%= link_to cardItem_path do cardItem_titleHeading end %>
        <% if (can? :manage, item.class) && (cardItem_editPath.presence) %>
          <span class="list-item__actions muted">
            <%= link_to "Modifier", cardItem_editPath %>
          </span>
        <% end %>
      </h3>
    <% end %>

    <% if cardItem_titleSubtitle.presence %>
      <p class="panel-subtitle">
        <%= cardItem_titleSubtitle.html_safe %>
      </p>
    <% end %>

    <% if cardItem_contactList.presence %>
      <ul class="inline-list">
        <% if item.email? %>
          <li><%= mail_to item.email %></li>
        <% end %>
        <% if item.phone? %>
          <li class="secondary-info"><%= tel_to item.phone %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
